@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

select {
    /* styling */
    background-color: white;
    border: thin solid blue;
    border-radius: 4px;
    display: inline-block;
    font: inherit;
    line-height: 1.5em;
    padding: 0.5em 3.5em 0.5em 1em;

    /* reset */

    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.btn-inner {
    transition: all 0.2s ease-in-out;
}
.btn:hover .btn-inner {
    /* animation: btnAnimation;
    animation-duration: 0.5s; */
    transform: translateX(0) translateY(0);
}

input[type="file"] {
    display: none;
}

input {
    transition: all 0.2s ease-in-out;
}

input:focus {
    box-shadow: 0px 0px 0px 0px rgba(221, 221, 221, 0.75);
}

.box-shadow:hover {
    box-shadow: 0px 0px 0px 0px rgba(221, 221, 221, 0.75);
}

.box-shadow-yellow:hover {
    box-shadow: 0px 0px 0px 0px rgba(221, 221, 221, 0.75);
}

.box-shadow {
    -webkit-box-shadow: 6px 6px 0px 0px rgba(221, 221, 221, 0.75);
    -moz-box-shadow: 6px 6px 0px 0px rgba(221, 221, 221, 0.75);
    box-shadow: 6px 6px 0px 0px rgba(221, 221, 221, 0.75);
    transition: all 0.2s ease-in-out;
}

.box-shadow-yellow {
    -webkit-box-shadow: 6px 6px 0px 0px rgba(253, 216, 0, 0.75);
    -moz-box-shadow: 6px 6px 0px 0px rgba(253, 216, 0, 0.75);
    box-shadow: 6px 6px 0px 0px rgba(253, 216, 0, 0.75);
    transition: all 0.2s ease-in-out;
}

.box-shadow-black {
    -webkit-box-shadow: 6px 6px 0px 0px rgba(49, 50, 54, 0.75);
    -moz-box-shadow: 6px 6px 0px 0px rgba(49, 50, 54, 0.75);
    box-shadow: 6px 6px 0px 0px rgba(49, 50, 54, 0.75);
}

.pattern-bg {
    background: radial-gradient(
                circle farthest-side at 0% 50%,
                #ededed 23.5%,
                #0000 0
            )
            19.95px 28.5px,
        radial-gradient(circle farthest-side at 0% 50%, #c1c1c1 24%, #0000 0)
            18.05px 28.5px,
        linear-gradient(#ededed 14%, #0000 0, #0000 85%, #ededed 0) 0 0,
        linear-gradient(
                150deg,
                #ededed 24%,
                #c1c1c1 0,
                #c1c1c1 26%,
                #0000 0,
                #0000 74%,
                #c1c1c1 0,
                #c1c1c1 76%,
                #ededed 0
            )
            0 0,
        linear-gradient(
                30deg,
                #ededed 24%,
                #c1c1c1 0,
                #c1c1c1 26%,
                #0000 0,
                #0000 74%,
                #c1c1c1 0,
                #c1c1c1 76%,
                #ededed 0
            )
            0 0,
        linear-gradient(90deg, #c1c1c1 2%, #ededed 0, #ededed 98%, #c1c1c1 0%) 0
            0 #ededed;
    background-size: 38px 57px;
    background-color: #ededed;
}

.homepage-pattern {
    background-image: radial-gradient(#a4a4a4 2px, transparent 2px),
        radial-gradient(#a4a4a4 2px, transparent 2px);
    background-size: 30px 30px;
    background-position: 0 0, 15px 15px;
    background-color: #ececec;
}

.doodle {
    background-image: url("/doodle-bg.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.input-group {
    position: relative;
}

.input-group label {
    position: absolute;
    top: 50%;
    left: 8px;
    color: #000;
    transform: translateY(-50%);
    font-size: 1rem;
    pointer-events: none;
    z-index: 100;
    padding: 0 5px;
    transition: 0.2s;
}

.input-group input:focus ~ label,
.input-group input:valid ~ label {
    top: 4px;
    left: 10px;
    font-size: 0.8rem;
    color: #757575;
    background-color: #fff;
}
